<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="Merachel, Course, Fashion Course, Sewing Course, Kursus Menjahit, Kursus Fashion">
    <meta name="description" content="Merachel Course">
    <meta name="author" content="Meriza Rachelin">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Merachel Fashion - @ViewBag.Title</title>

    @Styles.Render("~/Content/newfrontpage-css")

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light border-bottom">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Merachel</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Event", "Home")">Event</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Course", "Home")">Our Programs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Blog")">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Gallery", "Home")">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Tutor", "Home")">Tutor</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                About
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="@Url.Action("Why", "Home")">Why Us</a>
                                <a class="dropdown-item" href="@Url.Action("About", "Home")">About</a>
                                <a class="dropdown-item" href="@Url.Action("Contact", "Home")">Contact</a>
                            </div>
                        </li>
                    </ul>
                    <div class="form-inline mt-2 mt-md-0">
                        <span><i class="fa fa-instagram" aria-hidden="true"></i> merachel</span>
                        <span><i class="fa fa-facebook-square" aria-hidden="true"></i> facebook</span>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">

        @RenderBody()

        <!-- FOOTER -->
        <div class="container">
            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">
                    <div class="col-12 col-md">
                        <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
                        <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Features</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">Cool stuff</a></li>
                            <li><a class="text-muted" href="#">Random feature</a></li>
                            <li><a class="text-muted" href="#">Team feature</a></li>
                            <li><a class="text-muted" href="#">Stuff for developers</a></li>
                            <li><a class="text-muted" href="#">Another one</a></li>
                            <li><a class="text-muted" href="#">Last time</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Resources</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">Resource</a></li>
                            <li><a class="text-muted" href="#">Resource name</a></li>
                            <li><a class="text-muted" href="#">Another resource</a></li>
                            <li><a class="text-muted" href="#">Final resource</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>About</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">Team</a></li>
                            <li><a class="text-muted" href="#">Locations</a></li>
                            <li><a class="text-muted" href="#">Privacy</a></li>
                            <li><a class="text-muted" href="#">Terms</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </main>

    <input type="hidden" value="@ViewBag.Configuration" id="hdConfig" />

    @Scripts.Render("~/bundles/newfrontpage-js")

    @RenderSection("scripts", required: false)
</body>
</html>
