@using Merachel.Models
@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <meta name="robots" content="noarchive">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!-- Add local styles, mostly for plugins css file -->

    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.css")" rel="stylesheet" type="text/css" />

    <!-- Primary Inspinia style -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/laddaStyles")
    @Styles.Render("~/plugins/dataPickerStyles")

</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">M</h1>
            </div>
            <h3>Welcome to Merachel Admin</h3>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "Login Failed, check details", new { @class = "text-danger" });
                <div class="form-group">
                    <div class="editor-field">
                        @Html.TextBoxFor(u => u.Email, new { @class = "form-control", placeholder = "Email" })
                        @Html.ValidationMessageFor(u => u.Email)
                    </div>
                </div>
                <div class="form-group">
                    <div class="editor-field">
                        @Html.PasswordFor(u => u.Password, new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessageFor(u => u.Password)
                    </div>
                </div>
                <div class="col-md-12 ladda-btn">
                    <button type="button" id="btLogin" class="btn-u btn-block rounded ladda-button pull-right" data-style="slide-down">
                        <span class="ladda-label">Login</span>
                        <span class="ladda-spinner"></span>
                    </button>
                </div>
            }
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/ladda")
    @Scripts.Render("~/bundles/inspinia")
    @Scripts.Render("~/bundles/common")
</body>

</html>