
@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Course</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Admin")">Home</a>
            </li>
            <li>
                Course
            </li>
            <li class="active">
                <strong>Course</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div id="panelSummary" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Search Form</h5>
                </div>
                <div class="ibox-content">
                    <form action="#" id="formSearch">
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label>Status</label>
                                    <div class="radio radio-primary">
                                        <input type="radio" name="status" id="rbSearchStatusAll" value="0" checked="">
                                        <label for="rbSearchStatusAll">
                                            All
                                        </label>
                                    </div>
                                    <div class="radio radio-primary">
                                        <input type="radio" name="status" id="rbSearchStatusActive" value="1">
                                        <label for="rbSearchStatusActive">
                                            Active
                                        </label>
                                    </div>
                                    <div class="radio radio-primary">
                                        <input type="radio" name="status" id="rbSearchStatusInactive" value="2">
                                        <label for="rbSearchStatusInactive">
                                            Inactive
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" id="tbSearchName">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="text-center">
                                    <button id="btSearch" class="btn btn-w-m btn-success ladda-button search" type="button" data-style="slide-down"><i class="fa fa-search"></i> Search</button>
                                    <button class="btn btn-w-m btn-default reset" type="button"><i class="fa fa-refresh"></i> Clear</button>
                                    <button class="btn btn-w-m btn-primary create" type="button"><i class="fa fa-plus"></i> Add New Course</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        @Html.Partial("_PanelSearchBegin")
        @Html.Partial("_PanelSearchInfo")

        <div class="panel-search-result">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <table class="table table-striped table-bordered table-hover dataTables-example" id="tblSummaryData" width="100%">
                            <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <th>Testimonial</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="panelTransaction" class="wrapper wrapper-content animated fadeInRight">
    <form action="#" id="formTransaction">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><span id="spTitle"></span></h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Status</label>
                                <div class="form-group">
                                    <div class="radio radio-primary radio-inline">
                                        <input type="radio" id="rbStatusActive" value="1" name="radioInline" checked="">
                                        <label for="rbStatusActive"> Active </label>
                                    </div>
                                    <div class="radio radio-primary radio-inline">
                                        <input type="radio" id="rbStatusInactive" value="0" name="radioInline">
                                        <label for="rbStatusInactive"> Inactive </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Course Name</label>
                                    <input type="text" class="form-control" id="tbCourseName">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea cols="1" rows="5" id="tbCourseDescription" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Course Price</label>
                                    <button class="btn btn-xs btn-primary" data-toggle="modal" data-target=".modalPrice" id="btnModal">Add New Price</button>
                                </div>
                                <div class="ibox float-e-margins">
                                    <div class="ibox-content">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Images</label>
                                </div>
                                <label class="input pointer">
                                    <span class="btn-u btn-u-orange rounded fileinput-button">
                                        <i class="fa fa-upload"></i>
                                        <span>Upload</span>
                                        <input id="fileupload" type="file" name="files[]" />
                                    </span>
                                </label>
                                <label class="input">
                                    <div class="progress progress-u progress-xs">
                                        <div id="progressbar" class="progress-bar progress-bar-blue" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                            <span class="sr-only">0% complete</span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="text-center">
                                    <button id="btSubmit" class="btn btn-w-m btn-success" type="submit"><i class="fa fa-floppy-o"></i> Submit</button>
                                    <button class="btn btn-w-m btn-default back" type="button"><i class="fa fa-times"></i> Dismiss</button>
                                    <button id="btDelete" class="btn btn-w-m btn-danger delete" type="button"><i class="fa fa-trash"></i> Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="panelConfirmed" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>SUCCESS!</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <p>Your data has been saved successfully.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="text-center">
                                <button class="btn btn-w-m btn-default back" type="button"><i class="fa fa-times"></i> Back to Blog Category</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modalPrice" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Add Course Price</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Course Name</label>
                            <input type="text" class="form-control" id="tbCoursePriceName">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea cols="1" rows="3" id="tbCoursePriceDescription" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Price</label>
                            <input type="text" class="form-control" id="tbCoursePrice">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSubmitPrice">Save changes</button>
            </div>

        </div>
            </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/Scripts/plugins/jquery-ui/jqueryuiStyles")
}

@section scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/plugins/jqueryupload")

    <script type="text/javascript" src="~/Scripts/merachel/admin/course.js?v=@Model.JavaScriptAndCssVersion"></script>
}